h2 {
    font-size: 3rem;
}

.aboutme {
    font-size: 2rem;
}

.updated-when {
    font-style: italic;
    font-size: 2rem;
    color: white;
}

.me {
    margin-top: 20px;
}

.facts {
    font-size: 2rem;
}

.doingstuff {
    font-size: 2rem;
}