.crochetphotos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sammyphotos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.interestssammy {
    height: 20rem;
    border-radius: 30px;
}

.interestssammy:hover {
    transform: scale(1.01);
    filter: brightness(95%);
}
