h2 {
    font-size: 3.5vw;
    margin-bottom: 0px;
    font-weight: 400;
}

.about-me-blurb {
    font-size: 2.5vw;
    line-height: 6.5vh;
    font-weight: 300;
}

.updated-when {
    font-style: italic;
    font-size: 1.75rem;
    color: white;
}

.about-photos {
    float: right;
    height: 20rem;
    width: auto;
    border-radius: 20px;
    border: 5px solid black;
    margin: 2vw 3vw 0vw 7vw;
}

.jump {
    padding-bottom: 20px;
    font-weight: 300;
}