@keyframes fadein {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

@keyframes wiggle {
    0% { transform: rotate(-5deg); }
   30% { transform: rotate(5deg); }
   60% { transform: rotate(-5deg); }
   100% { transform: rotate(5deg); }
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateX(0%);
    }
}

#home {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.home-page-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.welcome-container {
    margin: -5vw 3vw 0vh 6vw;
    width: 40vw;
    animation: fadein 3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
}

.welcome-title {
    display: flex;
    font-family: 'Grandstander', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 4.5vw;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin: 0vw 0vw 1vw 0vw;
}

.welcome-subtitle {
    display: flex;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 2.75vw;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 0vw 0vw 1vw 0vw;
}

.welcome-blurb {
    display: flex;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 2.25vw;
    color: rgb(0, 0, 0);
    font-weight: 350;
    margin: 0vh;
    width: 26vw;
}

.home-images-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#blob {
    position: relative;
    width: 50vw;
    bottom: -30vw;
    right: -2vw;
    animation: fadein 2s ease, slide-in 2s ease;
}

#me {
    position: relative;
    width: 50vw;
    bottom: 26vw;
    right: -2vw;
    animation: fadein 2s ease, slide-up 2s ease;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    margin: 0vw 0vw 0vw 4vw;
}

.icon {
    height: 3.5vw;
    width: 3.5vw;
    margin: 2vw;
    mix-blend-mode: multiply;
}

.icon:hover {
    animation: wiggle .5s;
}

.homebutton {
    display: inline;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 30px;
}

