/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@keyframes fadein {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right,#8aaeb1 0%, #8fb4b3 40%, #b4bcb9 80%);
  animation-timing-function: cubic-bezier();
  cursor: url('/public/img/cursor.svg'), auto;
  scroll-behavior: smooth;
}

.appears {
  animation: fadein 3s;
  padding: 2vw;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/esthers-site.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
@keyframes fadein {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

@keyframes wiggle {
    0% { transform: rotate(-5deg); }
   30% { transform: rotate(5deg); }
   60% { transform: rotate(-5deg); }
   100% { transform: rotate(5deg); }
}

#home {
    padding: 0vw;
}
.welcome-container {
    margin: 10vh 3vw 0vh 3vw;
    animation: fadein 3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-title {
    display: flex;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 3.5vw;
    color: rgb(0, 0, 0);
    font-weight: 325;
    margin: 0vw 0vw 2.5vw 0vw;
}

.welcome-subtitle {
    display: flex;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 2.5vw;
    color: rgb(0, 0, 0);
    font-weight: 350;
    margin: 0vw 0vw 2.5vw 0vw;
}

.welcome-blurb {
    display: flex;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    font-weight: 350;
    line-height: 8vh;
    margin: 0vh;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    margin: 3vw;
}

.icon {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    mix-blend-mode: multiply;
}

.icon:hover {
    animation: wiggle .5s;
}

.homebutton {
    display: inline;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 30px;
}


/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/header.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.header {
    overflow: hidden;
    padding: 1vw;
    text-align: center;
}

a {
    text-decoration: none;
}

.header a {
    float: left;
    margin-right: 10px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-align: center;
}

.header a:hover {
    color: rgba(0, 0, 0, 0.563);
}

.header a.active {
    font-weight: 450;
    color: rgb(125, 125, 181);
}

.links {
    float: right;
    text-decoration: none;
}
