@keyframes fadein {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

.appears {
    animation: fadein 3s;
    padding: 2vw;
}

.headers {
    font-size: 3rem;
    margin-bottom: 0px;
    font-weight: 600;
}

.aboutme {
    font-size: 2rem;
}

.updated-when {
    font-style: italic;
    font-size: 1.75rem;
    color: white;
}

.me {
    margin-top: 20px;
}

.facts {
    font-size: 2rem;
}

.doingstuff {
    font-size: 2rem;
}

.jump {
    padding-bottom: 20px;
}