.crochetphotos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1vw;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.sammyphotos {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.interestssammy {
    height: 20rem;
    border-radius: 30px;
    outline: 4px solid black;
}

.interestssammy:hover {
    transform: scale(1.01);
    filter: brightness(95%);
}
